.display{

  width: 100px;
  height: 100px;
  border: solid black;
  padding: 50px;
  margin-top: 15%;
  box-shadow: 0 0 10px #8c8888;
  
}
.main{
display:flex;
flex-direction:column;
align-items:center;
justify-content: center;
}

.innertext{
    display: flex;
    padding-top: 30%;
    justify-content: center;
}

.textbox {    
    box-shadow: 0 0 10px #8c8888;
    border: solid black;
    height :30px;
    margin-top: 10px;
    font-size:initial;
    width : 200px;
}
.button{
    box-shadow: 0 0 10px #7e7a7a;
    border: solid black;
    height :30px;
    margin-top: 10px;
    font-size:initial;
    width : 205px;
    background-color: #ccc5c5;
}